#home-container {
  padding-top: 6rem;
  z-index: 0;
  width: 100%;
}

div#main-texts-div {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: -0.2cm;
}

@keyframes colorChanging {
  0% {
    filter: brightness(0) invert(1);
  }
  11% {
    filter: none;
  }
  33% {
    filter: none;
  }
  55% {
    filter: brightness(0) invert(1);
  }
}

div#main-texts-div p {
  filter: brightness(0) invert(1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: colorChanging 10s infinite;
}

div#main-texts-div p:nth-child(1) {
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
  background-clip: text;
}
div#main-texts-div p:nth-child(2) {
  background-image: linear-gradient(90deg, #7928ca, #ff0080);
  background-clip: text;
  animation-delay: 3.33s;
}
div#main-texts-div p:nth-child(3) {
  background-image: linear-gradient(90deg, #ff4d4d, #f9cb28);
  background-clip: text;
  animation-delay: 6.66s;
}

div#btn-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

div#btn-div button {
  margin: 2rem 2rem 0rem 2rem;
  padding: 0.7rem 0.2rem;
  min-width: 180px;
  border-radius: 0.5rem;
  border: 1px solid;
}

#first-btn {
  background: white;
  border-color: black;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

#first-btn:hover {
  background: black;
  border-color: white;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

#second-btn {
  background: black;
  border-color: rgb(175, 175, 175);
  color: rgb(175, 175, 175);
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.3s ease;
}

#second-btn:hover {
  background: black;
  border-color: white;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

#info-end-page {
  text-align: center;
  margin-top: 6rem;
  line-height: 1cm;
  padding-bottom: 3rem;
  color: rgb(194, 184, 184);
  padding: 1rem 2rem;
}

#info-end-page a {
  text-decoration: none;
  color: rgb(194, 184, 184);
  transition: 0.2s;
}

#info-end-page a:hover {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

@media (min-width: 1024px) {
  div#main-texts-div {
    text-align: center;
    font-size: 8rem;
    font-weight: bold;
    letter-spacing: -0.3cm;
  }
  div#btn-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
  }
  div#btn-div button {
    margin: 0 2rem 0 2rem;
    padding: 0.7rem 0.2rem;
    width: 180px;
    border-radius: 0.5rem;
    border: 1px solid;
  }

  #info-end-page {
    padding: 2rem 2rem;
  }
}
